body {
  background-color: #2d2d2d;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: gray;
  border-radius: 15px; */
}
.Yellow {
  color: #efee9d;
}
.Plus {
  color: #a5c3e6;
}
.Pink {
  color: #dfc5e7;
}
h1 {
  margin: 0;
  background-color: gray;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px;
}
h1 a {
  color: #efee9d;
  text-decoration: none;
}
h1 a:hover {
  background-color: darkgray;
  border-radius: 15px;
  /* padding: 5px; */
}
h2 {
  margin: 0px 50px;
  display: flex;
  margin-top: 10px;
}
ul {
  list-style-type: none;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: gray;
  border-radius: 15px;
  margin: 0;
}
ul li {
  float: left;
  padding: 14px 16px;
}
li a {
  display: block;
  color: #efee9d;
  text-decoration: none;
}
ul li a:hover {
  background-color: darkgray;
  border-radius: 15px;
  /* padding: 3px; */
}
